<div [formGroup]="pageAttributes">

  <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
    <button mat-mini-fab class="mx-1 va-fix" (click)="createNew()">
      <mat-icon aria-label="Create new">add</mat-icon>
    </button>
    <button mat-mini-fab class="mx-1 va-fix"
            (click)="save()"
            disabled="{{saveDisabled}}">
      <mat-icon aria-label="Save data">save</mat-icon>
    </button>

    <div fxFlex fxLayoutAlign="center center" fxLayoutGap="1em">
      <mat-form-field>
        <input #id matInput type="text" placeholder="{{eName}} ID" required
               maxlength="64"
               (focusout)="save()"
               formControlName="id">
        <mat-error
          *ngIf="pageAttributes.get('id').hasError('pattern') || pageAttributes.get('id').hasError('required')">
          Not a valid ID (letters and _ only)
        </mat-error>
        <mat-hint align="end">{{id.value.length}} / 64</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex>
        <input #url matInput type="text" placeholder="{{eName}} URL" required
               maxlength="64"
               (focusout)="save()"
               formControlName="url">
        <mat-error *ngIf="pageAttributes.get('url').hasError('required')">
          Not a valid URL
        </mat-error>
        <mat-hint align="end">{{url.value.length}} / 64</mat-hint>
      </mat-form-field>
    </div>

    <div>
      <mat-button-toggle-group #toolsSelectorGroup="matButtonToggleGroup">
        <mat-button-toggle value="attributes" checked>Attributes</mat-button-toggle>
        <mat-button-toggle value="code" *ngIf="entity!=='pages' || (entity==='pages' && userRole==='admin')">Code</mat-button-toggle>
        <mat-button-toggle *ngIf="(entity === 'pages')" value="css">CSS</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div fxHide="{{toolsSelectorGroup.value !== 'attributes'}}">


    <!-- Main meta -->
    <div fxLayout="row" fxLayoutGap="2em">

      <!-- Locale, subdomains, etc. -->
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">

        <mat-slide-toggle (focusout)="save()"  formControlName="published">Publish</mat-slide-toggle>

        <mat-form-field>
          <mat-label>Locale</mat-label>
          <mat-select #locale (focusout)="save()" required
                      formControlName="locale">
            <mat-option *ngFor="let i of locales" value="{{i}}">{{i}}</mat-option>
          </mat-select>
          <mat-error *ngIf="pageAttributes.get('locale').hasError('required')">
            Not a valid locale
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Subdomain</mat-label>
          <mat-select #subdomain (focusout)="save()" required
                      formControlName="subdomain">
            <mat-option *ngFor="let i of subdomains" value="{{i}}">{{i}}</mat-option>
          </mat-select>
          <mat-error *ngIf="pageAttributes.get('subdomain').hasError('required')">
            Not a valid subdomain
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="entity === 'articles'">
          <input #template matInput type="text" placeholder="Template page ID" required
                 maxlength="64"
                 (focusout)="save()"
                 formControlName="template">
          <mat-error
            *ngIf="pageAttributes.get('template').hasError('pattern') || pageAttributes.get('template').hasError('required')">
            Not a valid ID (letters and _ only)
          </mat-error>
          <mat-hint align="end">{{template.value.length}} / 64</mat-hint>
        </mat-form-field>
      </div>


      <!-- Meta -->
      <div fxFlex="70">
        <mat-form-field class="d-block w-100">
              <textarea #title matInput cdkTextareaAutosize placeholder="{{eName}} title"
                        maxlength="255"
                        (focusout)="save()"
                        formControlName="title"></textarea>
          <mat-hint align="end">{{title.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="d-block w-100">
                <textarea matInput cdkTextareaAutosize #description placeholder="{{eName}} description"
                          maxlength="255"
                          (focusout)="save()"
                          formControlName="description"></textarea>
          <mat-hint align="end">{{description.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="d-block w-100">
                <textarea #keywords matInput cdkTextareaAutosize placeholder="{{eName}} keywords"
                          maxlength="255"
                          (focusout)="save()"
                          formControlName="keywords"></textarea>
          <mat-hint align="end">{{keywords.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="d-block w-100" *ngIf="entity === 'articles'">
                <textarea #header matInput cdkTextareaAutosize placeholder="{{eName}} header"
                          maxlength="255"
                          (focusout)="save()"
                          formControlName="header"></textarea>
          <mat-hint align="end">{{header.value.length}} / 255</mat-hint>
        </mat-form-field>

        <mat-form-field class="d-block w-100" *ngIf="entity === 'articles'">
                <textarea #summary matInput cdkTextareaAutosize placeholder="{{eName}} summary"
                          maxlength="255"
                          (focusout)="save()"
                          formControlName="summary"></textarea>
          <mat-hint align="end">{{summary.value.length}} / 255</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- OG Image settings -->
    <div fxLayout="row" fxLayoutGap="2em">
      <div class="bg-grey image-preview" #imagePreview fxFlex="30"></div>

      <div fxFlex="70">

        <mat-form-field class="d-block w-100">
              <textarea #og_image_url matInput cdkTextareaAutosize placeholder="og-image URL" required
                        maxlength="255"
                        (focusout)="save()"
                        formControlName="og_image_url"></textarea>
          <mat-error *ngIf="pageAttributes.get('og_image_url').hasError('required')">
            Not a valid URL
          </mat-error>
          <mat-hint align="end">{{og_image_url.value.length}} / 255</mat-hint>
        </mat-form-field>

        <div>
          <div fxFlex fxLayoutGap="1em">
            <mat-form-field fxFlex>
              <input #og_image_width matInput type="number" placeholder="og-image width" required
                     (focusout)="save()"
                     formControlName="og_image_width">
              <mat-error *ngIf="pageAttributes.get('og_image_width').hasError('required')">
                Not a valid number
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input #og_image_height matInput type="number" placeholder="og-image height" required
                     (focusout)="save()"
                     formControlName="og_image_height">
              <mat-error *ngIf="pageAttributes.get('og_image_height').hasError('required')">
                Not a valid number
              </mat-error>
            </mat-form-field>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ace-editor #editor
                fxHide="{{toolsSelectorGroup.value !== 'code'}}"
                mode="ejs"
                (focusout)="setActiveBody($event)"></app-ace-editor>

<app-ace-editor #editorCSS
                fxHide="{{toolsSelectorGroup.value !== 'css'}}"
                mode="css"
                (focusout)="setActiveCSS($event)"></app-ace-editor>
