<section fxLayout="row" fxLayoutGap="2em">
  <div fxFlex="80">
    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="selectedTabChange()">
      <mat-tab label="Editor">
        <app-pages-editor [entity]="entity" [data]="data"></app-pages-editor>
      </mat-tab>
      <mat-tab label="Browser">
        <app-pages-browser [entity]="entity" #browser></app-pages-browser>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div fxFlex="20">
    <h1>Tags</h1>
    <app-tags-editor [entity]="entity" [mode]="(selectedIndex === 0) ? 'editor' : 'browser'"></app-tags-editor>
  </div>
</section>
