@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-purple);
$app-warn:    mat-palette($mat-red);
$app-grey:    mat-palette($mat-gray, 200, 100, 300);
$app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
@import "./scss/_mixins";

body {
  margin: 0;
  padding: 0;
}

main {
  min-width: 1200px;
}

mat-form-field {
 @include my(1);
}

.bg-primary {
  background-color: mat-color($app-primary);
  color: $light-primary-text;
}

.bg-accent {
  background-color: mat-color($app-accent);
  color: $light-primary-text;
}

.bg-grey {
  background-color: mat-color($app-grey, lighter);
  color: $dark-primary-text;
}

.bt-1 {
  border-top: 1px solid mat-color($app-grey);
}

.cell-link {
  &:hover {
    cursor: pointer;
    @include text-primary();
  }
}

.d-block {
  display: block !important;
}

.d-hidden {
  display: none !important;
}

.image-preview {
  background-size: contain;
  border-radius: 5px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0 !important;
}

.text-primary {
  @include text-primary();
}

.text-accent {
  color: mat-color($app-accent, default)
}

.text-warn {
  color: mat-color($app-warn, default)
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center !important;
}

.text-small {
  font-size: 0.8rem;
}

.w-100 {
  width:100%;
}

.w-1200 {
  width: 1200px;
}
