@mixin mt ($n) {
  margin-top: $n + rem !important;
}

@mixin mb ($n) {
  margin-bottom: $n + rem !important;
}

@mixin ml ($n) {
  margin-left: $n + rem !important;
}

@mixin mr ($n) {
  margin-right: $n + rem !important;
}

@mixin m ($n) {
  margin: $n + rem $n + rem $n + rem $n + rem !important;
}

@mixin my ($n) {
  @include mt($n);
  @include mb($n);
}

@mixin mx ($n) {
  @include ml($n);
  @include mr($n);
}

@for $i from 1 through 5 {
  .mt-#{$i} {@include mt($i)}
  .mb-#{$i} {@include mb($i)}
  .ml-#{$i} {@include ml($i)}
  .mr-#{$i} {@include mr($i)}
  .my-#{$i} {@include my($i)}
  .mx-#{$i} {@include mx($i)}
  .m-#{$i} {@include m($i)}
}

@mixin w($n) {
  width: $n + px;
}

@for $i from 1 through 12 {
  .w-#{$i*50}-px {@include w($i*50)}
}

@mixin text-primary () {
  color: mat-color($app-primary, default);
}
